body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 25px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-right: 25px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    background-color: #5CB8FF;
    padding: 20px 30px 20px 30px;
    color: #FFFFFF;
    border-radius: 15px;
}

h1 {
    font-size: 60px;
    font-weight: 500;
    margin: 0;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
}

header {
    background-image: url(images/fondo.jpg);
    height: 100vh;
    background-size: cover;
}

.titular {
    text-align: center;
    margin-top: 150px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1920px;
    margin: auto;
}



.section-sobre-mi {
    height: 100vh;
}

h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.container-sobre-mi {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.content-sobre-mi {
    padding-top: 45px;
    padding-left: 50px;
    width: 45%;
    text-align: justify;
}

.content-sobre-mi p {
    font-size: 25px;
}

.parrafo-final {
    margin-bottom: 50px;
}



.container-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #FFFFFF;
    margin-bottom: 100px;
}

.servicio {
    width: 25%;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 12px 1px #A6A6A6;
}

.morado {
    background-color: #5055DF;
}

.azul {
    background-color: #40A8FA;
}

.servicio h4 {
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

.servicio p {
    font-size: 20px;
    height: 130px;
}

.servicio img {
    float: right;
}



.container-trabajar-conmigo {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 100px 0 100px 0;
}

.container-trabajar-conmigo h4 {
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

.container-trabajar-conmigo p {
    font-size: 20px;
    line-height: 30px;
}

.razon {
    width: 28%;
}



#banner-final {
    background: linear-gradient(rgb(84, 93, 220), rgb(96, 171, 245));
    text-align: center;
    padding: 50px 0 80px 0;
}

#banner-final h3 {
    margin-top: 0;
    font-weight: 500;
    color: white;
}

#banner-final a {
    transition: .5s;
}

#banner-final a:hover {
    background-color: #5055DF;
    transition: 1s;
}



#container-whatsapp a {
    background: none;
    position: fixed;
    top: 87%;
    right: 1%;
}

.menu-icon {
    display: none;
}



@media (max-width: 480px) {

    header {
        background-position: center;
    }

    nav {
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #CFCECE;
        width: 100%;
        display: none;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        display: flex;
        line-height: 30px;
    }

    .menu-icon {
        width: 25px;
        display: block;
    }

    .titular {
        margin-top: 200px;
    }

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 25px;
    }



    .container-sobre-mi {
        flex-direction: column;
    }

    .content-sobre-mi {
        width: 85%;
        padding: 30px;
    }



    .container-servicios {
        flex-direction: column;
    }

    .servicio {
        margin: auto;
        margin-bottom: 15px;
        width: 80%;
    }



    h3 {
        font-size: 45px;
    }

    .container-trabajar-conmigo {
        flex-direction: column;
        margin: 50px auto 50px auto;
    }

    .razon {
        width: 85%;
        margin: auto;
        margin-bottom: 25px;
    }



    #banner-final h3 {
        font-size: 35px;
        margin: 0 auto 50px auto;
        font-weight: 500;
        color: white;
    }

    #container-whatsapp a img{
        width: 50px;
    }
}

@media (min-width: 481px) and (max-width: 900px) {

    header {
        background-position: center;
    }

    nav {
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #CFCECE;
        width: 100%;
        display: none;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        display: flex;
        line-height: 30px;
    }

    .menu-icon {
        width: 25px;
        display: block;
    }

    .titular {
        margin-top: 200px;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 35px;
    }



    .container-sobre-mi {
        flex-direction: column;
        width: 100%;
    }

    .container-sobre-mi img{
        width: 80%;
        margin: auto;
    }

    .content-sobre-mi {
        width: 90%;
        padding: 30px;
        margin: auto;
    }

    .content-sobre-mi p {
        font-size: 30px;
    }



    .container-servicios {
        flex-direction: column;
    }

    .servicio {
        margin: auto;
        margin-bottom: 15px;
        width: 80%;
    }

    .servicio p {
        font-size: 25px;
    }

    h3 {
        font-size: 50px;
    }

    .container-trabajar-conmigo {
        flex-direction: column;
        margin: 50px auto 50px auto;
    }

    .razon {
        width: 85%;
        margin: auto;
        margin-bottom: 25px;
    }

    .razon p {
        font-size: 25px;
    }



    #banner-final h3 {
        font-size: 35px;
        margin: 0 auto 50px auto;
        font-weight: 500;
        color: white;
    }
}